<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <filter>
    <filter-name>FiltroUsuario</filter-name>
    <filter-class>
       controller.FiltroUsuario
    </filter-class>
    <init-param>
        <param-name>avoid-urls</param-name>
        <param-value>index.jsp,topicos.jsp,aplicaciones.jsp,Aplicacion,MostrarEscenarioServlet,scripts,escenario.jsp,MonitoreoServlet,TerminarAplicacionServlet,informacionAgente.jsp,InformacionAgenteServlet,css,GenerarPreguntaServlet,archivos/,images/,test.jsp,test,preguntas.pdf</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>FiltroUsuario</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
    

</web-app>
